<!--<div class="card border-primary text-center">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">

    <form method="post"  >

      <div class="form-group col-sm-6">
        <input [(ngModel)]="user.username"  type="text" class="form-control"
        name="username" id="username" placeholder="Username" autofocus required>
      </div>
  
      <div class="form-group col-sm-6">
        <input [(ngModel)]="user.password"  type="text" class="form-control"
        name="password" id="password" placeholder="Password" required>
      </div>

      <div class="form-group col-sm-6">
        <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
      </div>

    </form>
  </div>
</div>-->



<section class="vh-50" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <div class="form-outline mb-4">
              <input [(ngModel)]="user.username"  type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input  [(ngModel)]="user.password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

           

           
            <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">

            <hr class="my-4">

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>





