<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
  
      <form>

       

        <div class="form-group row">
            <label for="vaca" class="col-form-label col-sm-2">Vaca</label>
            <div class="col-sm-6">
              <select  class="form-control" [(ngModel)]="vacunacion.vaca" name="vaca" >
                <option [ngValue]="undefined">--Selecionar una vaca--</option>
                <option *ngFor="let vaca of vacas" [ngValue]="vaca">{{vaca.nombre}}</option>
              </select>
            </div>
          </div>




          <div class="form-group row" >
            <label for="vacuna" class="col-form-label col-sm-2">Vacuna</label>
            <div class="col-sm-6">
              <select  class="form-control" [(ngModel)]="vacunacion.vacuna" name="vacuna" >
                <option [ngValue]="undefined">--Selecionar una vacuna--</option>
                <option *ngFor="let vacuna of vacunas" [ngValue]="vacuna">{{vacuna.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row" >
            <label for="trabajador" class="col-form-label col-sm-2">Trabajador</label>
            <div class="col-sm-6">
              <select  class="form-control"  [(ngModel)]="vacunacion.trabajador" name="trabajador" >
                <option [ngValue]="undefined">--Selecionar una veterinario--</option>
                <option  *ngFor="let trabajador  of trabajadores"  [ngValue]="trabajador"  >{{trabajador.nombre }} </option>
              </select>
            </div>
          </div>




          <div class="form-group row">
          <label for="fechaIngreso" class="col-form-label col-sm-2">Fecha registro</label>
          <div class="col-sm-6">
            <input  type="date" class="form-control" [(ngModel)]="vacunacion.fecha" name="fecha" >           
          </div>
        </div>


        
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)='create()' >Crear</button>
  
          
          </div>

        </div>
  
      
        
      </form>
  
    </div>
  </div>
  
