<body >
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
      <h1 class="fw-bolder">Bienvenido a AgroEasy</h1>
      <p class="lead">Un software para la administración de tu ganado</p>
     
  </div>
</header>
<!-- About section-->
<section id="about">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Acerca de esta pagina</h2>
              <p class="lead">Existe gran dificultad al momento de controlar, medir y en general o administrar la información del ganado ,se evidencia que la falta de mecanismos para administrar la información del ganado, conllevan a una pérdida de tiempo y dinero, el cual se podría minimizar si se implementa un sistema de información que controle la trazabilidad del animal de una manera más óptima, hasta el final de su ciclo comercial.</p>
              <h5>Administrando los siguientes temas: </h5>
              <ul>
                  <li>Empleados y veterinarios</li>
                  <li>Vacas</li>
                  <li>Registro de vacunaciones en los animales</li>
                  <li>Venta de leche</li>
                  <li>Produccion</li>
                  <br>
                  <br>
                  <br>
              </ul>
          </div>
      </div>
  </div>
</section>
</body>